# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [49]:
import pandas as pd 

URL = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"

df = pd.read_csv(URL) 
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
Nan_values = df.isnull().sum()
Nan_values

Customer                     2937
ST                           2937
GENDER                       3054
Education                    2937
Customer Lifetime Value      2940
Income                       2937
Monthly Premium Auto         2937
Number of Open Complaints    2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
dtype: int64

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.

In [51]:
rows, columns = df.shape
print(f"The dataset contains {rows} rows and {columns} columns.")

The dataset contains 4008 rows and 11 columns.

In [52]:
df= df.dropna()
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,M,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,Cali,F,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [53]:
df_null = df.isnull().sum()
df_null

Customer                     0
ST                           0
GENDER                       0
Education                    0
Customer Lifetime Value      0
Income                       0
Monthly Premium Auto         0
Number of Open Complaints    0
Policy Type                  0
Vehicle Class                0
Total Claim Amount           0
dtype: int64

In [54]:
print(df.shape)

(952, 11)

In [55]:
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042

- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.

In [56]:
data_types = df.dtypes
print(data_types)

#Customer Lifetime Value should be float 
#Number of Open Complaints	should be int

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

In [57]:
for i in df.columns:
    print(f"{i}:\n{df[i].unique()}\n\n") # to print categories name only

Customer:
['QZ44356' 'AI49188' 'WW63253' 'GA49547' 'OC83172' 'XZ87318' 'CF85061'
 'DY87989' 'BQ94931' 'SX51350' 'QK46697' 'HS14476' 'HD95276' 'YD87931'
 'NW21079' 'YB66933' 'OW15518' 'GP39118' 'SG20925' 'FM14335' 'HS28694'
 'LH92841' 'AZ95587' 'DS81757' 'OJ94107' 'LP84436' 'FF22360' 'LM19287'
 'ZU18643' 'AZ82578' 'XC67861' 'YC43143' 'EK59571' 'PA38372' 'RO18530'
 'PD27940' 'BS77946' 'YM50253' 'NR15332' 'RC62865' 'CC15295' 'KA61892'
 'OS94884' 'ND87334' 'OY51402' 'YL74911' 'GK92563' 'HL53154' 'RI78966'
 'IC13702' 'BE10809' 'HT87217' 'TH95618' 'TS19868' 'LP45550' 'QR87004'
 'OE75747' 'DX91392' 'AB72731' 'GX84338' 'IS12901' 'BN90616' 'HH90090'
 'IU25463' 'KC11055' 'PD33979' 'NK71023' 'AB13432' 'OZ97704' 'UF46533'
 'XP47431' 'GK73582' 'RV98763' 'II62831' 'XK33449' 'TR85083' 'EO95328'
 'EN21086' 'YL83902' 'AZ62651' 'ZW25874' 'EH41854' 'MW70227' 'SL22297'
 'RV14138' 'UO62808' 'ZX64745' 'FL34139' 'TS11219' 'XX12304' 'SD64087'
 'OY38576' 'BG76355' 'IP66913' 'LE95702' 'KX54357' 'EZ78112' 'XN16891'
 'XK31350' 'CC30924' 'IT78748' 'KY33386' 'CO44221' 'LK60013' 'DE21533'
 'YS94121' 'UK68427' 'TE49565' 'RA88421' 'KQ51983' 'CD88896' 'YV22553'
 'WU14435' 'XV84099' 'RI24911' 'KO26461' 'HI14283' 'PT50227' 'BH36570'
 'TX17484' 'CT41158' 'AO87348' 'DE55857' 'LF66923' 'CN24514' 'UW32074'
 'HP36979' 'PP40919' 'RO73268' 'HO61691' 'BS13062' 'FO35655' 'HR10526'
 'IA63417' 'BH35016' 'PK52952' 'OD76309' 'IL28481' 'GY55092' 'UF33451'
 'CF15558' 'JM62924' 'EM66435' 'QX45933' 'JI71369' 'JU93290' 'GU66096'
 'UC33108' 'LW93867' 'OU78470' 'XW90265' 'HS67749' 'VZ51506' 'UI64281'
 'AE98193' 'AZ74055' 'XS76911' 'AY40674' 'NA12740' 'UA84837' 'DJ51510'
 'VM58985' 'OH60605' 'UO98052' 'NC53424' 'LQ13873' 'LA97014' 'NB79936'
 'NT89061' 'AF10970' 'ZG48513' 'JQ59145' 'FE84989' 'JT52858' 'MC62068'
 'EU27538' 'RH42306' 'US23612' 'WV76014' 'RK96223' 'MF82000' 'FM46980'
 'SY56792' 'RF61565' 'IM94808' 'VI14730' 'YR34119' 'RR77985' 'QD28391'
 'WV17090' 'TM23514' 'MQ68407' 'GJ59592' 'FY56083' 'UA94723' 'FW91032'
 'DE34457' 'HD32044' 'HH30454' 'AH84063' 'QA17596' 'XI41052' 'DI30528'
 'SC66359' 'EN61670' 'DQ10761' 'BQ51587' 'JE21522' 'WS47147' 'ZA64638'
 'EW38459' 'QW87316' 'IC43478' 'TE34064' 'WU60905' 'YM18992' 'PD55753'
 'KU56006' 'MJ69973' 'TW43626' 'XX84133' 'ZW84453' 'HO29524' 'VE89726'
 'GE87503' 'PX90263' 'NI17718' 'FY32213' 'RZ13254' 'GN45013' 'NM39588'
 'KU84464' 'YH43527' 'RO30676' 'QL59704' 'QH19450' 'SA54664' 'CI38330'
 'WB38524' 'CE56187' 'JL19416' 'JZ61422' 'LA13377' 'NC99948' 'QD34785'
 'RO26085' 'ES57969' 'JK55587' 'RN97635' 'BI76326' 'JA34909' 'OJ90342'
 'CM88932' 'JJ97525' 'XV21647' 'MC83487' 'BL90769' 'CR57148' 'CP85232'
 'YL74732' 'FG16766' 'NV55438' 'RM10880' 'GL56175' 'UK52289' 'OT85112'
 'BC62782' 'TI19722' 'JP30654' 'UM45563' 'EN60878' 'JF36291' 'BK59444'
 'MK70700' 'IW71076' 'AP98768' 'OM24164' 'HR85211' 'VC87846' 'ZM92052'
 'ON73702' 'QQ90441' 'HU35721' 'YP47665' 'FU99476' 'AG85615' 'OY74069'
 'DJ91267' 'KB72438' 'TR67616' 'GF65731' 'HB67642' 'DP84567' 'VV77534'
 'GL67540' 'SV50502' 'UK59698' 'OA57352' 'ZF84449' 'AX86150' 'HG39060'
 'EM29359' 'SF57173' 'OT47603' 'SW31412' 'JS36322' 'RE81445' 'RM24280'
 'LC25393' 'UX38930' 'HD95496' 'RX24650' 'DW19309' 'MT41386' 'WZ40465'
 'DB42794' 'JB50798' 'IP69763' 'TE35785' 'HX74855' 'QN65180' 'GE47180'
 'VQ38776' 'BH86846' 'IN17648' 'DF95759' 'QG45324' 'MN61620' 'YH86390'
 'FY13480' 'YH61661' 'NL93182' 'WE68644' 'EZ30498' 'QY74517' 'NM88660'
 'MZ82036' 'ID20929' 'EY50028' 'TT82373' 'OH64088' 'SK97780' 'IO33050'
 'XA55917' 'JK32620' 'RQ19236' 'QC47433' 'RA93608' 'XH97711' 'AU96286'
 'KC17170' 'ZN47335' 'EI46264' 'EK87864' 'GV45403' 'QK31192' 'LU89008'
 'NS10490' 'KL98495' 'IU96845' 'QL93655' 'PF40592' 'LZ34046' 'JC80093'
 'YE88490' 'YC80498' 'AI85843' 'XD66024' 'FY51713' 'PH26378' 'WQ18638'
 'KY14688' 'TC97762' 'QC87108' 'CX12134' 'SM73248' 'CK19789' 'UV12583'
 'JC11405' 'KA89683' 'BG85305' 'UQ87917' 'XN11823' 'OS46571' 'PX17116'
 'RP19541' 'ZR25747' 'NQ86532' 'JY27336' 'PB54378' 'SV38190' 'CV24005'
 'EX28656' 'CF57022' 'GM16780' 'BX94438' 'RM41745' 'XR70252' 'YH92099'
 'SG81493' 'ZX23819' 'FJ54907' 'CU26127' 'YH60476' 'ZZ97035' 'GE82737'
 'KY21873' 'UA51318' 'BV55014' 'HX21307' 'LQ68252' 'CR92802' 'SL35268'
 'RD62882' 'JS42382' 'BT30554' 'VP57424' 'VU19243' 'TA82973' 'GK71720'
 'OQ61223' 'LL62746' 'JQ56711' 'AW77988' 'QP84605' 'MY97912' 'IB87349'
 'AW73065' 'BW80872' 'PX70175' 'KF75098' 'IS50283' 'MY64920' 'KN34250'
 'GN46207' 'KL57176' 'MN94234' 'JY90595' 'HK26543' 'PN86062' 'VW27730'
 'SH55671' 'MO56878' 'VO38365' 'SV35618' 'RX12347' 'FR55658' 'XS12556'
 'ZU73588' 'WT43034' 'VM13430' 'TC78849' 'VC34764' 'WO90953' 'IU47468'
 'KO46064' 'RB34917' 'BI38192' 'PU18983' 'SW79912' 'ES39217' 'KP72427'
 'UA19178' 'PR53785' 'XF57481' 'CN90378' 'KI56154' 'UI55951' 'FF28650'
 'FS55302' 'TN79487' 'HG32616' 'UK41984' 'LZ52266' 'PM27367' 'ZK21724'
 'BH35482' 'QE22757' 'ON77649' 'RN82884' 'CQ75652' 'FF58467' 'BS83666'
 'WO29605' 'TL77607' 'EZ50606' 'OS39723' 'FN69743' 'XW96958' 'TU92578'
 'TL43709' 'YE68736' 'OB96537' 'EU68825' 'CC31456' 'DJ77787' 'LN26837'
 'YI92916' 'NW54906' 'ME77513' 'UK76891' 'SI26888' 'YD74948' 'HB64268'
 'BW52697' 'NL41409' 'OD69005' 'ZZ91716' 'UK70255' 'QT25383' 'AW18068'
 'NS45347' 'FV19421' 'XW89091' 'YC11951' 'UY18770' 'RA49085' 'BG84194'
 'PT64580' 'MR67738' 'DM95829' 'DB75522' 'LM34525' 'WW30771' 'QP65569'
 'TN50051' 'UO86707' 'JA41698' 'NX18774' 'DA69469' 'CN23147' 'RA68844'
 'GH42026' 'BD16530' 'JH91579' 'WK23685' 'GR62267' 'PI78084' 'GF97874'
 'ZH19885' 'UK25655' 'QR45101' 'EL93539' 'EE99484' 'DP46882' 'WP41146'
 'TK60799' 'DN29808' 'SS59521' 'NG66579' 'TC14209' 'ED50963' 'GP40701'
 'CP98451' 'NX52648' 'ZC32510' 'NG27780' 'HN95240' 'EB59129' 'RA70851'
 'PM19162' 'MS59005' 'SU71163' 'BD35676' 'NI44621' 'EW33419' 'HX44948'
 'DL36983' 'XR87264' 'NN99001' 'XV95530' 'OL97871' 'HQ23708' 'WR63188'
 'NG82219' 'KU29408' 'RE46783' 'RU94434' 'GI82355' 'VO26340' 'NV61299'
 'DX31066' 'CY50337' 'TJ20375' 'EP72155' 'JJ76159' 'BG15419' 'AO74776'
 'HQ82233' 'OL72737' 'ZQ59828' 'NZ15548' 'XK61304' 'EJ44139' 'CM94425'
 'OV54878' 'JF57282' 'MY37953' 'XP64922' 'WL65572' 'LN50325' 'HJ15383'
 'KH59823' 'YM79169' 'DR38127' 'PU42145' 'KM33477' 'RI53167' 'OF77789'
 'YB33445' 'BA17836' 'JS43228' 'BB11622' 'HQ70429' 'WK88044' 'LA80525'
 'EH16250' 'PU41872' 'HB85743' 'MM71959' 'MB83663' 'KR43119' 'KH24214'
 'AC40767' 'HP55391' 'EG62398' 'VS19949' 'AM92343' 'GI68556' 'JT11876'
 'XR64251' 'MK34957' 'GP18756' 'AP23850' 'KQ65521' 'EJ19449' 'QB70027'
 'QW47320' 'KH64733' 'ON59472' 'HP94242' 'RV15398' 'EA25683' 'PW73754'
 'MC71942' 'OX72195' 'YQ99152' 'KI19439' 'PM76175' 'US45383' 'GT38956'
 'SN41301' 'BE62503' 'PA16884' 'NC58480' 'NS39326' 'PN18507' 'EK91340'
 'JY16280' 'ZW71731' 'ZC24631' 'YR34689' 'RT65829' 'BZ12077' 'WM65373'
 'NH35059' 'QD38160' 'BM15160' 'VY79030' 'EV19512' 'TE13577' 'WY97929'
 'YG20683' 'FK75497' 'NE60110' 'TN36521' 'HG33568' 'TW17878' 'ZO83562'
 'CH97539' 'CV29889' 'MO33320' 'QZ81258' 'NY56352' 'EA27048' 'UT38865'
 'QC89139' 'LA14484' 'HN57556' 'CV31235' 'WR45726' 'LB25094' 'KW56110'
 'XO36233' 'ZX86243' 'DW29763' 'CT83377' 'OQ90898' 'GO77248' 'QW33258'
 'OU79745' 'VZ79886' 'FI92440' 'YG85980' 'QM74621' 'EI71732' 'VN79010'
 'FI61723' 'OH55411' 'TF10720' 'NW30838' 'CB58476' 'WI69346' 'FS76657'
 'YX89016' 'PK28821' 'MB51200' 'XG44587' 'FG91922' 'OM99303' 'RV67546'
 'UJ79253' 'PN98247' 'IB67546' 'OE19087' 'CM95716' 'MW62634' 'QW67581'
 'SN16059' 'OE51254' 'RM42344' 'GB35238' 'ML82674' 'EI85244' 'DE28132'
 'TV25678' 'TY26512' 'OB69153' 'QZ77637' 'XN41715' 'QR15857' 'FL69363'
 'IS30295' 'WA25797' 'NL59519' 'ZU93025' 'DK94262' 'UQ30615' 'OR40060'
 'DK32872' 'FA46418' 'ER19995' 'KI75855' 'ND41876' 'PN21042' 'GJ43254'
 'AL46984' 'JP58047' 'ZE85014' 'KU88219' 'UU98729' 'WS82822' 'YB49933'
 'XC16387' 'XJ96748' 'TM98684' 'AY18433' 'DM74502' 'FT56968' 'OX36896'
 'BZ65376' 'LN34660' 'JC29295' 'KJ87930' 'XT36360' 'IX35050' 'UN97379'
 'MR57294' 'UG79499' 'UA50747' 'GL20444' 'SP58110' 'XM91635' 'TV82603'
 'BB82067' 'JP94676' 'VU53417' 'IW54795' 'RN78170' 'IX55883' 'XM72420'
 'GC15104' 'RX13282' 'QA85890' 'IR62668' 'AL96740' 'SS48498' 'PE39479'
 'JH62891' 'FI20423' 'PM13394' 'YV67971' 'QD31377' 'YG10247' 'FE73696'
 'SW19699' 'QJ40732' 'HM76207' 'NT59303' 'PU41393' 'QO86948' 'QN10888'
 'VY19543' 'XC15133' 'ST43550' 'FX36546' 'JX68983' 'HX78576' 'ZQ11381'
 'ON39271' 'SB18278' 'ZT30559' 'XI41106' 'ZS88847' 'RU49126' 'KR62797'
 'ZJ73220' 'FY62633' 'CU36986' 'WZ53904' 'AA71604' 'TD10493' 'LY97989'
 'VX39856' 'TP51897' 'QQ89253' 'EI91403' 'QG15435' 'FZ55002' 'HX77930'
 'UN37063' 'VB87946' 'AB60627' 'TA34903' 'AQ51368' 'NZ26102' 'GB45753'
 'BV79904' 'OB49075' 'DS97676' 'JO63462' 'NJ10602' 'RS24501' 'VT78274'
 'SU56153' 'MN20737' 'KL43114' 'YQ15567' 'TR88637' 'TC88986' 'XX88577'
 'NE49052' 'KX17826' 'CC91503' 'WH32183' 'ES90681' 'DW96592' 'MT23134'
 'BM69081' 'MB90871' 'QL77686' 'ON77827' 'KP18988' 'TI92884' 'JH73503'
 'YE97964' 'VA30351' 'PV55726' 'UC88305' 'TS53809' 'ZV32120' 'FB80807'
 'AS55677' 'WA15684' 'SA50567' 'KJ31611' 'VL37375' 'KN21017' 'PX44289'
 'AM97901' 'RE42925' 'TR81766' 'CH85057' 'UP71482' 'EG40670' 'HV83672'
 'MG10140' 'TC44716' 'QO65264' 'EB66698' 'OT52034' 'CH85444' 'PU85769'
 'UI73201' 'SL50592' 'XP11075' 'SI31236' 'JN26745' 'VK48036' 'JX76668'
 'DS45802' 'OA96690' 'EM27919' 'QO41043' 'OV50124' 'PR31642' 'BU41599'
 'TK30357' 'NF31087' 'NH16984' 'OS75493' 'VT63298' 'QS75550' 'SZ16483'
 'VM92311' 'NJ46849' 'WZ31900' 'RG30482' 'ZM86949' 'QQ39596' 'FH51383'
 'BJ53923' 'CZ96653' 'FB23788' 'NT43594' 'RJ85627' 'KJ86296' 'PI47776'
 'MD73554' 'UX92071' 'YG44474' 'UH45301' 'RY92647' 'IK12620' 'GQ66762'
 'YT69858' 'XD85577' 'TM65736' 'VJ51327' 'GS98873' 'CW49887' 'MY31220']


ST:
['Arizona' 'Nevada' 'California' 'Washington' 'Oregon' 'AZ' 'WA' 'Cali']


GENDER:
['F' 'M' 'Femal' 'Male' 'female']


Education:
['Bachelor' 'High School or Below' 'College' 'Master' 'Bachelors' 'Doctor']


Customer Lifetime Value:
['697953.59%' '1288743.17%' '764586.18%' '536307.65%' '825629.78%'
 '538089.86%' '721610.03%' '2412750.40%' '738817.81%' '473899.20%'
 '617710.93%' '916206.32%' '473787.17%' '495165.61%' '487938.48%'
 '538275.20%' '1595001.95%' '499655.27%' '518579.76%' '1048491.54%'
 '282986.39%' '725595.38%' '1038855.32%' '247012.12%' '561906.85%'
 '904711.92%' '268731.41%' '373150.46%' '366077.03%' '792882.93%'
 '501175.16%' '798825.83%' '388545.64%' '935773.78%' '254068.98%'
 '488516.25%' '975330.71%' '294615.37%' '258111.09%' '351738.58%'
 '974335.01%' '387364.70%' '764928.20%' '228759.69%' '825576.39%'
 '871492.21%' '681923.12%' '741619.73%' '777115.90%' '696834.19%'
 '425028.26%' '1977656.65%' '2134346.60%' '241313.97%' '1536384.72%'
 '845696.19%' '218964.25%' '578018.22%' '463998.16%' '382443.13%'
 '596811.89%' '859033.50%' '407663.47%' '1225260.18%' '1693627.15%'
 '489243.55%' '994230.48%' '373583.81%' '1311752.22%' '457452.41%'
 '547006.06%' '297884.60%' '641096.75%' '447902.31%' '238373.19%'
 '276449.37%' '792010.54%' '688909.80%' '327419.46%' '995170.77%'
 '252155.57%' '2370611.34%' '604702.52%' '1114030.25%' '433406.41%'
 '279974.79%' '792313.66%' '368811.09%' '1206745.60%' '292497.67%'
 '1501409.27%' '927723.38%' '627412.39%' '388664.74%' '438627.76%'
 '1136526.77%' '561096.43%' '291289.20%' '691572.99%' '626266.33%'
 '650339.70%' '800739.94%' '292991.65%' '596955.30%' '547315.99%'
 '564539.67%' '636926.24%' '1183376.73%' '612110.79%' '515936.97%'
 '251459.20%' '866861.13%' '496096.54%' '550413.90%' '750745.54%'
 '3226985.14%' '565703.16%' '506175.79%' '591278.38%' '1518227.98%'
 '1074703.09%' '205062.35%' '246544.49%' '534312.13%' '811982.91%'
 '460526.52%' '640878.56%' '237653.35%' '321107.00%' '509452.23%'
 '2575527.82%' '867222.97%' '804473.07%' '400151.91%' '1670611.70%'
 '854441.11%' '780531.29%' '611275.69%' '477294.38%' '1097909.56%'
 '500426.38%' '1322304.38%' '262331.54%' '1784019.56%' '510611.18%'
 '1793060.45%' '545734.26%' '656364.41%' '481252.52%' '2932804.19%'
 '577352.07%' '684711.89%' '359531.29%' '2285561.21%' '785941.46%'
 '411557.74%' '502963.88%' '482141.85%' '500431.05%' '863005.39%'
 '932208.51%' '1672756.06%' '365253.24%' '615860.12%' '437608.40%'
 '556945.62%' '257651.30%' '834698.32%' '632392.39%' '597314.34%'
 '470667.70%' '809341.03%' '503574.46%' '902786.72%' '728888.48%'
 '1804247.94%' '499206.30%' '910226.78%' '254040.77%' '1294189.19%'
 '236534.86%' '572076.51%' '703553.41%' '263697.77%' '539583.20%'
 '838263.01%' '3116174.52%' '288774.23%' '742584.53%' '2558572.78%'
 '1027260.82%' '437636.36%' '531889.66%' '471976.22%' '442803.16%'
 '587917.61%' '941690.85%' '828815.56%' '3265483.83%' '471945.01%'
 '390347.48%' '545725.97%' '272535.64%' '443397.37%' '533246.27%'
 '231509.50%' '541195.37%' '958733.23%' '2210350.72%' '976494.53%'
 '256715.15%' '265062.28%' '1126436.33%' '216852.35%' '861066.75%'
 '283464.62%' '893013.97%' '553638.70%' '284085.43%' '808288.10%'
 '525473.43%' '511623.76%' '303464.70%' '802489.99%' '1821114.32%'
 '512156.33%' '215017.86%' '559538.99%' '756282.40%' '538585.32%'
 '267805.83%' '942256.79%' '360586.03%' '776259.06%' '2344490.05%'
 '255817.82%' '265438.10%' '254978.61%' '296959.33%' '436312.46%'
 '588430.86%' '527219.16%' '550989.57%' '1631368.35%' '567805.02%'
 '1210120.88%' '245357.08%' '507566.27%' '321497.94%' '1227534.31%'
 '272221.07%' '245744.09%' '355484.53%' '492954.97%' '803645.03%'
 '427691.53%' '3347334.95%' '596058.14%' '4479546.94%' '383211.81%'
 '683793.26%' '528526.82%' '309651.12%' '358971.07%' '258240.85%'
 '340391.94%' '1357567.60%' '343613.43%' '2868582.79%' '450267.97%'
 '618311.15%' '1892933.06%' '555329.58%' '501125.92%' '1044244.63%'
 '219961.78%' '512317.09%' '748431.05%' '261302.31%' '908063.97%'
 '1377097.62%' '287682.29%' '540891.15%' '677030.68%' '2414387.56%'
 '353805.95%' '2909123.94%' '1983420.12%' '473136.70%' '3553784.60%'
 '3461137.90%' '2021630.88%' '1397651.93%' '590408.82%' '559583.50%'
 '229430.36%' '627391.19%' '372672.80%' '265671.31%' '511068.08%'
 '712659.65%' '460163.41%' '915523.97%' '1480805.62%' '890167.84%'
 '573459.82%' '417769.70%' '2777628.91%' '1036434.75%' '785190.14%'
 '1422650.49%' '287543.24%' '504129.96%' '436293.12%' '962452.44%'
 '2191440.55%' '694842.22%' '247152.84%' '2190391.36%' '902882.14%'
 '530375.95%' '2070825.88%' '512376.81%' '949234.30%' '820486.32%'
 '987729.57%' '481500.97%' '627701.17%' '826063.98%' '254945.00%'
 '380392.18%' '863540.35%' '551055.90%' '358588.41%' '488925.28%'
 '275694.17%' '328954.74%' '1093717.85%' '737556.79%' '1011077.82%'
 '511941.43%' '853383.20%' '222476.80%' '804280.38%' '255443.71%'
 '1807394.00%' '243050.66%' '316765.84%' '546560.40%' '1035751.42%'
 '253781.39%' '282194.72%' '775712.81%' '407913.27%' '595554.46%'
 '1415861.36%' '848723.80%' '628547.69%' '1147348.15%' '494263.06%'
 '2359468.02%' '257250.66%' '477055.09%' '675665.14%' '593601.18%'
 '357076.05%' '601996.05%' '542686.40%' '273031.38%' '498268.14%'
 '876926.68%' '422061.35%' '1153750.51%' '588718.20%' '470058.38%'
 '1096395.72%' '252317.12%' '375780.47%' '1294173.35%' '376446.51%'
 '688955.70%' '362345.42%' '758211.38%' '827774.56%' '257645.56%'
 '820538.79%' '1958246.89%' '648152.66%' '259931.09%' '983033.76%'
 '1044265.14%' '3605753.70%' '847003.68%' '827878.65%' '478893.26%'
 '308799.99%' '444373.62%' '798408.65%' '718097.10%' '1565603.43%'
 '2071494.04%' '533735.24%' '505082.62%' '511662.40%' '726873.70%'
 '261661.39%' '373843.62%' '545386.12%' '684615.03%' '617291.42%'
 '1034632.45%' '699700.86%' '419625.77%' '785810.98%' '606434.40%'
 '1749752.20%' '897064.73%' '592311.72%' '3585059.94%' '870984.53%'
 '1330933.52%' '452850.49%' '279190.65%' '443441.12%' '799600.75%'
 '512973.90%' '569717.52%' '921713.06%' '1020892.76%' '417068.73%'
 '450540.58%' '310756.86%' '552866.50%' '504586.67%' '296272.25%'
 '866595.64%' '1141344.12%' '1548843.20%' '886114.95%' '593474.15%'
 '354323.21%' '349002.83%' '368309.99%' '598977.39%' '1250084.30%'
 '860915.82%' '249745.51%' '701917.72%' '538792.63%' '616555.75%'
 '273020.29%' '516211.69%' '793706.48%' '860815.72%' '263254.58%'
 '778500.42%' '2163983.86%' '498082.50%' '745723.78%' '1064093.93%'
 '686250.83%' '904898.34%' '554803.19%' '831268.16%' '238998.10%'
 '445811.34%' '529574.17%' '383960.61%' '277890.37%' '401654.20%'
 '493094.93%' '249131.70%' '290887.59%' '428294.80%' '834162.37%'
 '509078.13%' '736618.83%' '243687.51%' '885268.87%' '2387547.68%'
 '560049.65%' '463654.65%' '757334.51%' '1469663.55%' '897214.03%'
 '772484.01%' '594667.07%' '800054.51%' '645756.10%' '728144.01%'
 '259243.78%' '467842.34%' '1386992.71%' '871777.78%' '523398.68%'
 '476418.97%' '247246.92%' '281369.26%' '550505.70%' '260620.85%'
 '1048194.38%' '325676.64%' '3047578.05%' '636490.22%' '946850.93%'
 '563145.19%' '778099.93%' '981652.83%' '751913.36%' '1017971.70%'
 '277283.92%' '403750.18%' '419196.61%' '267686.79%' '252395.96%'
 '698840.16%' '874205.78%' '267331.96%' '1215732.99%' '295776.40%'
 '717390.94%' '309953.80%' '841568.46%' '2684312.45%' '1305717.07%'
 '959995.02%' '853510.89%' '829348.19%' '663685.98%' '560908.25%'
 '507732.09%' '527562.70%' '343525.01%' '662461.18%' '575744.23%'
 '288645.16%' '534143.88%' '416001.81%' '284624.54%' '477025.66%'
 '505961.62%' '909574.46%' '268886.40%' '827763.76%' '905793.53%'
 '380175.04%' '933934.16%' '252012.32%' '498409.53%' '259574.80%'
 '743769.33%' '1453678.76%' '591330.59%' '277166.30%' '2919436.64%'
 '988038.58%' '1511440.24%' '575991.08%' '849516.42%' '438118.42%'
 '699782.74%' '1143058.85%' '748248.61%' '859691.66%' '785496.08%'
 '907576.82%' '411858.86%' '515281.96%' '651297.65%' '2778969.24%'
 '266727.00%' '1092840.71%' '761538.13%' '200435.07%' '243468.12%'
 '1419536.03%' '942768.49%' '1198242.09%' '310278.95%' '422263.12%'
 '402381.44%' '529715.18%' '2142363.72%' '441620.62%' '463903.52%'
 '486354.46%' '2583090.98%' '297431.49%' '206445.88%' '1006460.83%'
 '803240.19%' '548921.41%' '261275.67%' '857346.39%' '855038.66%'
 '230864.80%' '425462.07%' '898285.04%' '786816.60%' '770424.87%'
 '1055217.00%' '1604510.95%' '873783.75%' '545489.07%' '770528.33%'
 '703926.24%' '883808.56%' '873352.73%' '959747.48%' '450666.02%'
 '1785797.23%' '249780.82%' '542613.62%' '799814.38%' '289762.07%'
 '1159950.22%' '1514793.06%' '543576.78%' '1329771.23%' '992704.97%'
 '1777154.90%' '1826927.02%' '708321.24%' '588950.91%' '1577139.34%'
 '528817.33%' '2758055.40%' '777853.23%' '734186.13%' '791919.70%'
 '216387.02%' '978780.88%' '520764.08%' '2114727.72%' '1228076.66%'
 '244139.42%' '653556.06%' '920659.83%' '483820.90%' '462554.81%'
 '1404210.30%' '754661.35%' '517035.84%' '1391737.72%' '1131813.08%'
 '427636.36%' '432224.03%' '800230.83%' '447177.82%' '849635.28%'
 '2250088.35%' '1630196.76%' '231973.59%' '871704.98%' '286011.17%'
 '245340.83%' '2498022.55%' '748263.95%' '245757.60%' '237974.12%'
 '828696.44%' '239391.54%' '465715.95%' '1319792.89%' '280391.67%'
 '864650.41%' '742587.06%' '452873.74%' '222707.28%' '729294.88%'
 '318435.52%' '1131520.37%' '253070.51%' '1836155.53%' '864153.00%'
 '327853.19%' '527198.21%' '376363.77%' '1395556.96%' '500152.75%'
 '708283.04%' '761948.28%' '1255088.20%' '3219660.04%' '679377.41%'
 '527231.97%' '626534.33%' '854758.61%' '278742.37%' '462680.11%'
 '866336.40%' '387222.22%' '517081.15%' '896028.02%' '547183.43%'
 '3493100.17%' '262039.23%' '1906949.95%' '4022401.36%' '270148.83%'
 '371243.05%' '2185084.00%' '784016.58%' '823703.79%' '224347.39%'
 '843446.41%' '517002.60%' '264144.61%' '279068.30%' '274512.98%'
 '757953.27%' '1097878.03%' '825506.01%' '474773.46%' '354090.43%'
 '258218.53%' '1166509.78%' '739628.37%' '433079.98%' '1463545.16%'
 '856476.82%' '1156568.75%' '277104.50%' '850712.88%' '332309.25%'
 '523433.17%' '2470959.96%' '1778627.78%' '255122.67%' '724771.37%'
 '453884.78%' '3164210.46%' '873042.20%' '833273.06%' '235774.70%'
 '463716.40%' '535719.27%' '539197.10%' '369414.05%' '504041.24%'
 '2749542.19%' '484228.50%' '2738281.89%' '522710.19%' '259009.60%'
 '1053607.80%' '858127.87%' '946311.33%' '1344100.64%' '388650.48%'

In [58]:
df = df.copy()
# Extracting only the first number as the count of complaints
df['Number of Open Complaints'] = df['Number of Open Complaints'].str.split('/').str[1]
# Verifying the cleaned column to ensure it only reflects the complaint count
df['Number of Open Complaints']

1       0
2       0
3       0
4       0
5       0
       ..
1066    1
1067    2
1068    0
1069    0
1070    0
Name: Number of Open Complaints, Length: 952, dtype: object

In [59]:
nan_in_complaints_column_alternative = df['Number of Open Complaints'].isnull().sum()
nan_in_complaints_column_alternative

0

In [60]:
Number_of_Open_Complaints_uniques = df['Number of Open Complaints'].unique()
Number_of_Open_Complaints_uniques

array(['0', '1', '2', '4', '3', '5'], dtype=object)

In [61]:
df['Number of Open Complaints'] = pd.to_numeric(df['Number of Open Complaints'], errors = "coerce")
df['Number of Open Complaints']

1       0
2       0
3       0
4       0
5       0
       ..
1066    1
1067    2
1068    0
1069    0
1070    0
Name: Number of Open Complaints, Length: 952, dtype: int64

In [62]:
df['Number of Open Complaints'].unique()

array([0, 1, 2, 4, 3, 5])

In [63]:
print(df['Number of Open Complaints'].dtype)

int64

In [65]:
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].str.replace('%', '')
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].astype(float)
df['Customer Lifetime Value'] = df['Customer Lifetime Value'] / 1000
df['Customer Lifetime Value'] = df['Customer Lifetime Value'].round(2)

df['Customer Lifetime Value']

1        697.95
2       1288.74
3        764.59
4        536.31
5        825.63
         ...
1066     305.96
1067    2031.50
1068     323.91
1069     462.68
1070     899.70
Name: Customer Lifetime Value, Length: 952, dtype: float64

In [66]:
df['Customer Lifetime Value'].dtype

dtype('float64')

In [67]:
unique_values = df['Customer Lifetime Value'].unique()[:20]
print(unique_values)

[ 697.95 1288.74  764.59  536.31  825.63  538.09  721.61 2412.75  738.82
  473.9   617.71  916.21  473.79  495.17  487.94  538.28 1595.    499.66
  518.58 1048.49]

In [68]:
df.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697.95,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288.74,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764.59,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536.31,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
5,OC83172,Oregon,F,Bachelor,825.63,62902.0,69.0,0,Personal Auto,Two-Door Car,159.383042

In [69]:
categorical_columns = [col for col in df.columns if df[col].dtype == 'object']
categorical_columns

['Customer', 'ST', 'GENDER', 'Education', 'Policy Type', 'Vehicle Class']

In [70]:
for i in categorical_columns:
    print(f"{i}:\n{df[i].unique()}\n\n")

Customer:
['QZ44356' 'AI49188' 'WW63253' 'GA49547' 'OC83172' 'XZ87318' 'CF85061'
 'DY87989' 'BQ94931' 'SX51350' 'QK46697' 'HS14476' 'HD95276' 'YD87931'
 'NW21079' 'YB66933' 'OW15518' 'GP39118' 'SG20925' 'FM14335' 'HS28694'
 'LH92841' 'AZ95587' 'DS81757' 'OJ94107' 'LP84436' 'FF22360' 'LM19287'
 'ZU18643' 'AZ82578' 'XC67861' 'YC43143' 'EK59571' 'PA38372' 'RO18530'
 'PD27940' 'BS77946' 'YM50253' 'NR15332' 'RC62865' 'CC15295' 'KA61892'
 'OS94884' 'ND87334' 'OY51402' 'YL74911' 'GK92563' 'HL53154' 'RI78966'
 'IC13702' 'BE10809' 'HT87217' 'TH95618' 'TS19868' 'LP45550' 'QR87004'
 'OE75747' 'DX91392' 'AB72731' 'GX84338' 'IS12901' 'BN90616' 'HH90090'
 'IU25463' 'KC11055' 'PD33979' 'NK71023' 'AB13432' 'OZ97704' 'UF46533'
 'XP47431' 'GK73582' 'RV98763' 'II62831' 'XK33449' 'TR85083' 'EO95328'
 'EN21086' 'YL83902' 'AZ62651' 'ZW25874' 'EH41854' 'MW70227' 'SL22297'
 'RV14138' 'UO62808' 'ZX64745' 'FL34139' 'TS11219' 'XX12304' 'SD64087'
 'OY38576' 'BG76355' 'IP66913' 'LE95702' 'KX54357' 'EZ78112' 'XN16891'
 'XK31350' 'CC30924' 'IT78748' 'KY33386' 'CO44221' 'LK60013' 'DE21533'
 'YS94121' 'UK68427' 'TE49565' 'RA88421' 'KQ51983' 'CD88896' 'YV22553'
 'WU14435' 'XV84099' 'RI24911' 'KO26461' 'HI14283' 'PT50227' 'BH36570'
 'TX17484' 'CT41158' 'AO87348' 'DE55857' 'LF66923' 'CN24514' 'UW32074'
 'HP36979' 'PP40919' 'RO73268' 'HO61691' 'BS13062' 'FO35655' 'HR10526'
 'IA63417' 'BH35016' 'PK52952' 'OD76309' 'IL28481' 'GY55092' 'UF33451'
 'CF15558' 'JM62924' 'EM66435' 'QX45933' 'JI71369' 'JU93290' 'GU66096'
 'UC33108' 'LW93867' 'OU78470' 'XW90265' 'HS67749' 'VZ51506' 'UI64281'
 'AE98193' 'AZ74055' 'XS76911' 'AY40674' 'NA12740' 'UA84837' 'DJ51510'
 'VM58985' 'OH60605' 'UO98052' 'NC53424' 'LQ13873' 'LA97014' 'NB79936'
 'NT89061' 'AF10970' 'ZG48513' 'JQ59145' 'FE84989' 'JT52858' 'MC62068'
 'EU27538' 'RH42306' 'US23612' 'WV76014' 'RK96223' 'MF82000' 'FM46980'
 'SY56792' 'RF61565' 'IM94808' 'VI14730' 'YR34119' 'RR77985' 'QD28391'
 'WV17090' 'TM23514' 'MQ68407' 'GJ59592' 'FY56083' 'UA94723' 'FW91032'
 'DE34457' 'HD32044' 'HH30454' 'AH84063' 'QA17596' 'XI41052' 'DI30528'
 'SC66359' 'EN61670' 'DQ10761' 'BQ51587' 'JE21522' 'WS47147' 'ZA64638'
 'EW38459' 'QW87316' 'IC43478' 'TE34064' 'WU60905' 'YM18992' 'PD55753'
 'KU56006' 'MJ69973' 'TW43626' 'XX84133' 'ZW84453' 'HO29524' 'VE89726'
 'GE87503' 'PX90263' 'NI17718' 'FY32213' 'RZ13254' 'GN45013' 'NM39588'
 'KU84464' 'YH43527' 'RO30676' 'QL59704' 'QH19450' 'SA54664' 'CI38330'
 'WB38524' 'CE56187' 'JL19416' 'JZ61422' 'LA13377' 'NC99948' 'QD34785'
 'RO26085' 'ES57969' 'JK55587' 'RN97635' 'BI76326' 'JA34909' 'OJ90342'
 'CM88932' 'JJ97525' 'XV21647' 'MC83487' 'BL90769' 'CR57148' 'CP85232'
 'YL74732' 'FG16766' 'NV55438' 'RM10880' 'GL56175' 'UK52289' 'OT85112'
 'BC62782' 'TI19722' 'JP30654' 'UM45563' 'EN60878' 'JF36291' 'BK59444'
 'MK70700' 'IW71076' 'AP98768' 'OM24164' 'HR85211' 'VC87846' 'ZM92052'
 'ON73702' 'QQ90441' 'HU35721' 'YP47665' 'FU99476' 'AG85615' 'OY74069'
 'DJ91267' 'KB72438' 'TR67616' 'GF65731' 'HB67642' 'DP84567' 'VV77534'
 'GL67540' 'SV50502' 'UK59698' 'OA57352' 'ZF84449' 'AX86150' 'HG39060'
 'EM29359' 'SF57173' 'OT47603' 'SW31412' 'JS36322' 'RE81445' 'RM24280'
 'LC25393' 'UX38930' 'HD95496' 'RX24650' 'DW19309' 'MT41386' 'WZ40465'
 'DB42794' 'JB50798' 'IP69763' 'TE35785' 'HX74855' 'QN65180' 'GE47180'
 'VQ38776' 'BH86846' 'IN17648' 'DF95759' 'QG45324' 'MN61620' 'YH86390'
 'FY13480' 'YH61661' 'NL93182' 'WE68644' 'EZ30498' 'QY74517' 'NM88660'
 'MZ82036' 'ID20929' 'EY50028' 'TT82373' 'OH64088' 'SK97780' 'IO33050'
 'XA55917' 'JK32620' 'RQ19236' 'QC47433' 'RA93608' 'XH97711' 'AU96286'
 'KC17170' 'ZN47335' 'EI46264' 'EK87864' 'GV45403' 'QK31192' 'LU89008'
 'NS10490' 'KL98495' 'IU96845' 'QL93655' 'PF40592' 'LZ34046' 'JC80093'
 'YE88490' 'YC80498' 'AI85843' 'XD66024' 'FY51713' 'PH26378' 'WQ18638'
 'KY14688' 'TC97762' 'QC87108' 'CX12134' 'SM73248' 'CK19789' 'UV12583'
 'JC11405' 'KA89683' 'BG85305' 'UQ87917' 'XN11823' 'OS46571' 'PX17116'
 'RP19541' 'ZR25747' 'NQ86532' 'JY27336' 'PB54378' 'SV38190' 'CV24005'
 'EX28656' 'CF57022' 'GM16780' 'BX94438' 'RM41745' 'XR70252' 'YH92099'
 'SG81493' 'ZX23819' 'FJ54907' 'CU26127' 'YH60476' 'ZZ97035' 'GE82737'
 'KY21873' 'UA51318' 'BV55014' 'HX21307' 'LQ68252' 'CR92802' 'SL35268'
 'RD62882' 'JS42382' 'BT30554' 'VP57424' 'VU19243' 'TA82973' 'GK71720'
 'OQ61223' 'LL62746' 'JQ56711' 'AW77988' 'QP84605' 'MY97912' 'IB87349'
 'AW73065' 'BW80872' 'PX70175' 'KF75098' 'IS50283' 'MY64920' 'KN34250'
 'GN46207' 'KL57176' 'MN94234' 'JY90595' 'HK26543' 'PN86062' 'VW27730'
 'SH55671' 'MO56878' 'VO38365' 'SV35618' 'RX12347' 'FR55658' 'XS12556'
 'ZU73588' 'WT43034' 'VM13430' 'TC78849' 'VC34764' 'WO90953' 'IU47468'
 'KO46064' 'RB34917' 'BI38192' 'PU18983' 'SW79912' 'ES39217' 'KP72427'
 'UA19178' 'PR53785' 'XF57481' 'CN90378' 'KI56154' 'UI55951' 'FF28650'
 'FS55302' 'TN79487' 'HG32616' 'UK41984' 'LZ52266' 'PM27367' 'ZK21724'
 'BH35482' 'QE22757' 'ON77649' 'RN82884' 'CQ75652' 'FF58467' 'BS83666'
 'WO29605' 'TL77607' 'EZ50606' 'OS39723' 'FN69743' 'XW96958' 'TU92578'
 'TL43709' 'YE68736' 'OB96537' 'EU68825' 'CC31456' 'DJ77787' 'LN26837'
 'YI92916' 'NW54906' 'ME77513' 'UK76891' 'SI26888' 'YD74948' 'HB64268'
 'BW52697' 'NL41409' 'OD69005' 'ZZ91716' 'UK70255' 'QT25383' 'AW18068'
 'NS45347' 'FV19421' 'XW89091' 'YC11951' 'UY18770' 'RA49085' 'BG84194'
 'PT64580' 'MR67738' 'DM95829' 'DB75522' 'LM34525' 'WW30771' 'QP65569'
 'TN50051' 'UO86707' 'JA41698' 'NX18774' 'DA69469' 'CN23147' 'RA68844'
 'GH42026' 'BD16530' 'JH91579' 'WK23685' 'GR62267' 'PI78084' 'GF97874'
 'ZH19885' 'UK25655' 'QR45101' 'EL93539' 'EE99484' 'DP46882' 'WP41146'
 'TK60799' 'DN29808' 'SS59521' 'NG66579' 'TC14209' 'ED50963' 'GP40701'
 'CP98451' 'NX52648' 'ZC32510' 'NG27780' 'HN95240' 'EB59129' 'RA70851'
 'PM19162' 'MS59005' 'SU71163' 'BD35676' 'NI44621' 'EW33419' 'HX44948'
 'DL36983' 'XR87264' 'NN99001' 'XV95530' 'OL97871' 'HQ23708' 'WR63188'
 'NG82219' 'KU29408' 'RE46783' 'RU94434' 'GI82355' 'VO26340' 'NV61299'
 'DX31066' 'CY50337' 'TJ20375' 'EP72155' 'JJ76159' 'BG15419' 'AO74776'
 'HQ82233' 'OL72737' 'ZQ59828' 'NZ15548' 'XK61304' 'EJ44139' 'CM94425'
 'OV54878' 'JF57282' 'MY37953' 'XP64922' 'WL65572' 'LN50325' 'HJ15383'
 'KH59823' 'YM79169' 'DR38127' 'PU42145' 'KM33477' 'RI53167' 'OF77789'
 'YB33445' 'BA17836' 'JS43228' 'BB11622' 'HQ70429' 'WK88044' 'LA80525'
 'EH16250' 'PU41872' 'HB85743' 'MM71959' 'MB83663' 'KR43119' 'KH24214'
 'AC40767' 'HP55391' 'EG62398' 'VS19949' 'AM92343' 'GI68556' 'JT11876'
 'XR64251' 'MK34957' 'GP18756' 'AP23850' 'KQ65521' 'EJ19449' 'QB70027'
 'QW47320' 'KH64733' 'ON59472' 'HP94242' 'RV15398' 'EA25683' 'PW73754'
 'MC71942' 'OX72195' 'YQ99152' 'KI19439' 'PM76175' 'US45383' 'GT38956'
 'SN41301' 'BE62503' 'PA16884' 'NC58480' 'NS39326' 'PN18507' 'EK91340'
 'JY16280' 'ZW71731' 'ZC24631' 'YR34689' 'RT65829' 'BZ12077' 'WM65373'
 'NH35059' 'QD38160' 'BM15160' 'VY79030' 'EV19512' 'TE13577' 'WY97929'
 'YG20683' 'FK75497' 'NE60110' 'TN36521' 'HG33568' 'TW17878' 'ZO83562'
 'CH97539' 'CV29889' 'MO33320' 'QZ81258' 'NY56352' 'EA27048' 'UT38865'
 'QC89139' 'LA14484' 'HN57556' 'CV31235' 'WR45726' 'LB25094' 'KW56110'
 'XO36233' 'ZX86243' 'DW29763' 'CT83377' 'OQ90898' 'GO77248' 'QW33258'
 'OU79745' 'VZ79886' 'FI92440' 'YG85980' 'QM74621' 'EI71732' 'VN79010'
 'FI61723' 'OH55411' 'TF10720' 'NW30838' 'CB58476' 'WI69346' 'FS76657'
 'YX89016' 'PK28821' 'MB51200' 'XG44587' 'FG91922' 'OM99303' 'RV67546'
 'UJ79253' 'PN98247' 'IB67546' 'OE19087' 'CM95716' 'MW62634' 'QW67581'
 'SN16059' 'OE51254' 'RM42344' 'GB35238' 'ML82674' 'EI85244' 'DE28132'
 'TV25678' 'TY26512' 'OB69153' 'QZ77637' 'XN41715' 'QR15857' 'FL69363'
 'IS30295' 'WA25797' 'NL59519' 'ZU93025' 'DK94262' 'UQ30615' 'OR40060'
 'DK32872' 'FA46418' 'ER19995' 'KI75855' 'ND41876' 'PN21042' 'GJ43254'
 'AL46984' 'JP58047' 'ZE85014' 'KU88219' 'UU98729' 'WS82822' 'YB49933'
 'XC16387' 'XJ96748' 'TM98684' 'AY18433' 'DM74502' 'FT56968' 'OX36896'
 'BZ65376' 'LN34660' 'JC29295' 'KJ87930' 'XT36360' 'IX35050' 'UN97379'
 'MR57294' 'UG79499' 'UA50747' 'GL20444' 'SP58110' 'XM91635' 'TV82603'
 'BB82067' 'JP94676' 'VU53417' 'IW54795' 'RN78170' 'IX55883' 'XM72420'
 'GC15104' 'RX13282' 'QA85890' 'IR62668' 'AL96740' 'SS48498' 'PE39479'
 'JH62891' 'FI20423' 'PM13394' 'YV67971' 'QD31377' 'YG10247' 'FE73696'
 'SW19699' 'QJ40732' 'HM76207' 'NT59303' 'PU41393' 'QO86948' 'QN10888'
 'VY19543' 'XC15133' 'ST43550' 'FX36546' 'JX68983' 'HX78576' 'ZQ11381'
 'ON39271' 'SB18278' 'ZT30559' 'XI41106' 'ZS88847' 'RU49126' 'KR62797'
 'ZJ73220' 'FY62633' 'CU36986' 'WZ53904' 'AA71604' 'TD10493' 'LY97989'
 'VX39856' 'TP51897' 'QQ89253' 'EI91403' 'QG15435' 'FZ55002' 'HX77930'
 'UN37063' 'VB87946' 'AB60627' 'TA34903' 'AQ51368' 'NZ26102' 'GB45753'
 'BV79904' 'OB49075' 'DS97676' 'JO63462' 'NJ10602' 'RS24501' 'VT78274'
 'SU56153' 'MN20737' 'KL43114' 'YQ15567' 'TR88637' 'TC88986' 'XX88577'
 'NE49052' 'KX17826' 'CC91503' 'WH32183' 'ES90681' 'DW96592' 'MT23134'
 'BM69081' 'MB90871' 'QL77686' 'ON77827' 'KP18988' 'TI92884' 'JH73503'
 'YE97964' 'VA30351' 'PV55726' 'UC88305' 'TS53809' 'ZV32120' 'FB80807'
 'AS55677' 'WA15684' 'SA50567' 'KJ31611' 'VL37375' 'KN21017' 'PX44289'
 'AM97901' 'RE42925' 'TR81766' 'CH85057' 'UP71482' 'EG40670' 'HV83672'
 'MG10140' 'TC44716' 'QO65264' 'EB66698' 'OT52034' 'CH85444' 'PU85769'
 'UI73201' 'SL50592' 'XP11075' 'SI31236' 'JN26745' 'VK48036' 'JX76668'
 'DS45802' 'OA96690' 'EM27919' 'QO41043' 'OV50124' 'PR31642' 'BU41599'
 'TK30357' 'NF31087' 'NH16984' 'OS75493' 'VT63298' 'QS75550' 'SZ16483'
 'VM92311' 'NJ46849' 'WZ31900' 'RG30482' 'ZM86949' 'QQ39596' 'FH51383'
 'BJ53923' 'CZ96653' 'FB23788' 'NT43594' 'RJ85627' 'KJ86296' 'PI47776'
 'MD73554' 'UX92071' 'YG44474' 'UH45301' 'RY92647' 'IK12620' 'GQ66762'
 'YT69858' 'XD85577' 'TM65736' 'VJ51327' 'GS98873' 'CW49887' 'MY31220']


ST:
['Arizona' 'Nevada' 'California' 'Washington' 'Oregon' 'AZ' 'WA' 'Cali']


GENDER:
['F' 'M' 'Femal' 'Male' 'female']


Education:
['Bachelor' 'High School or Below' 'College' 'Master' 'Bachelors' 'Doctor']


Policy Type:
['Personal Auto' 'Corporate Auto' 'Special Auto']


Vehicle Class:
['Four-Door Car' 'Two-Door Car' 'SUV' 'Sports Car' 'Luxury Car'
 'Luxury SUV']

the range of values for numerical columns

In [71]:
numerical_columns = df.select_dtypes(include=['float64', 'int64']).columns
numerical_ranges = {col: (df[col].min(), df[col].max()) for col in numerical_columns}
numerical_ranges

{'Customer Lifetime Value': (200.44, 4479.55),
 'Income': (0.0, 99960.0),
 'Monthly Premium Auto': (61.0, 35354.0),
 'Number of Open Complaints': (0, 5),
 'Total Claim Amount': (0.382107, 2893.239678)}

In [72]:


print(df.dtypes)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value      float64
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints      int64
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [73]:
df.nunique()

#ST, GENDER,  Education

Customer                     952
ST                             8
GENDER                         5
Education                      6
Customer Lifetime Value      918
Income                       688
Monthly Premium Auto         128
Number of Open Complaints      6
Policy Type                    3
Vehicle Class                  6
Total Claim Amount           688
dtype: int64

In [74]:
df['Number of Open Complaints'].unique()

array([0, 1, 2, 4, 3, 5])

In [78]:



df['ST'] = df['ST'].replace({
    'Arizona': 'AZ', 
    'Nevada': 'NV', 
    'California': 'CA', 
    'Washington': 'WA', 
    'Oregon': 'OR', 
    'Cali': 'CA'  # Standardiser les variantes
})


df['GENDER'] = df['GENDER'].replace({
    'Femal': 'F', 
    'female': 'F', 
    'Female': 'F', 
    'Male': 'M', 
    'male': 'M'
})


df['Education'] = df['Education'].replace({
    'Bachelor': 'Bachelors', 
    'Bachelors': 'Bachelors', 
    'High School or Below': 'High School', 
    'Master': 'Masters'
})

In [79]:
categorical_columns = ['Customer', 'ST', 'GENDER', 'Education', 'Policy Type', 'Vehicle Class']
for column in categorical_columns:
    unique_values = df[column].unique()
    print(f"Unique values in '{column}': {unique_values}")

Unique values in 'Customer': ['QZ44356' 'AI49188' 'WW63253' 'GA49547' 'OC83172' 'XZ87318' 'CF85061'
 'DY87989' 'BQ94931' 'SX51350' 'QK46697' 'HS14476' 'HD95276' 'YD87931'
 'NW21079' 'YB66933' 'OW15518' 'GP39118' 'SG20925' 'FM14335' 'HS28694'
 'LH92841' 'AZ95587' 'DS81757' 'OJ94107' 'LP84436' 'FF22360' 'LM19287'
 'ZU18643' 'AZ82578' 'XC67861' 'YC43143' 'EK59571' 'PA38372' 'RO18530'
 'PD27940' 'BS77946' 'YM50253' 'NR15332' 'RC62865' 'CC15295' 'KA61892'
 'OS94884' 'ND87334' 'OY51402' 'YL74911' 'GK92563' 'HL53154' 'RI78966'
 'IC13702' 'BE10809' 'HT87217' 'TH95618' 'TS19868' 'LP45550' 'QR87004'
 'OE75747' 'DX91392' 'AB72731' 'GX84338' 'IS12901' 'BN90616' 'HH90090'
 'IU25463' 'KC11055' 'PD33979' 'NK71023' 'AB13432' 'OZ97704' 'UF46533'
 'XP47431' 'GK73582' 'RV98763' 'II62831' 'XK33449' 'TR85083' 'EO95328'
 'EN21086' 'YL83902' 'AZ62651' 'ZW25874' 'EH41854' 'MW70227' 'SL22297'
 'RV14138' 'UO62808' 'ZX64745' 'FL34139' 'TS11219' 'XX12304' 'SD64087'
 'OY38576' 'BG76355' 'IP66913' 'LE95702' 'KX54357' 'EZ78112' 'XN16891'
 'XK31350' 'CC30924' 'IT78748' 'KY33386' 'CO44221' 'LK60013' 'DE21533'
 'YS94121' 'UK68427' 'TE49565' 'RA88421' 'KQ51983' 'CD88896' 'YV22553'
 'WU14435' 'XV84099' 'RI24911' 'KO26461' 'HI14283' 'PT50227' 'BH36570'
 'TX17484' 'CT41158' 'AO87348' 'DE55857' 'LF66923' 'CN24514' 'UW32074'
 'HP36979' 'PP40919' 'RO73268' 'HO61691' 'BS13062' 'FO35655' 'HR10526'
 'IA63417' 'BH35016' 'PK52952' 'OD76309' 'IL28481' 'GY55092' 'UF33451'
 'CF15558' 'JM62924' 'EM66435' 'QX45933' 'JI71369' 'JU93290' 'GU66096'
 'UC33108' 'LW93867' 'OU78470' 'XW90265' 'HS67749' 'VZ51506' 'UI64281'
 'AE98193' 'AZ74055' 'XS76911' 'AY40674' 'NA12740' 'UA84837' 'DJ51510'
 'VM58985' 'OH60605' 'UO98052' 'NC53424' 'LQ13873' 'LA97014' 'NB79936'
 'NT89061' 'AF10970' 'ZG48513' 'JQ59145' 'FE84989' 'JT52858' 'MC62068'
 'EU27538' 'RH42306' 'US23612' 'WV76014' 'RK96223' 'MF82000' 'FM46980'
 'SY56792' 'RF61565' 'IM94808' 'VI14730' 'YR34119' 'RR77985' 'QD28391'
 'WV17090' 'TM23514' 'MQ68407' 'GJ59592' 'FY56083' 'UA94723' 'FW91032'
 'DE34457' 'HD32044' 'HH30454' 'AH84063' 'QA17596' 'XI41052' 'DI30528'
 'SC66359' 'EN61670' 'DQ10761' 'BQ51587' 'JE21522' 'WS47147' 'ZA64638'
 'EW38459' 'QW87316' 'IC43478' 'TE34064' 'WU60905' 'YM18992' 'PD55753'
 'KU56006' 'MJ69973' 'TW43626' 'XX84133' 'ZW84453' 'HO29524' 'VE89726'
 'GE87503' 'PX90263' 'NI17718' 'FY32213' 'RZ13254' 'GN45013' 'NM39588'
 'KU84464' 'YH43527' 'RO30676' 'QL59704' 'QH19450' 'SA54664' 'CI38330'
 'WB38524' 'CE56187' 'JL19416' 'JZ61422' 'LA13377' 'NC99948' 'QD34785'
 'RO26085' 'ES57969' 'JK55587' 'RN97635' 'BI76326' 'JA34909' 'OJ90342'
 'CM88932' 'JJ97525' 'XV21647' 'MC83487' 'BL90769' 'CR57148' 'CP85232'
 'YL74732' 'FG16766' 'NV55438' 'RM10880' 'GL56175' 'UK52289' 'OT85112'
 'BC62782' 'TI19722' 'JP30654' 'UM45563' 'EN60878' 'JF36291' 'BK59444'
 'MK70700' 'IW71076' 'AP98768' 'OM24164' 'HR85211' 'VC87846' 'ZM92052'
 'ON73702' 'QQ90441' 'HU35721' 'YP47665' 'FU99476' 'AG85615' 'OY74069'
 'DJ91267' 'KB72438' 'TR67616' 'GF65731' 'HB67642' 'DP84567' 'VV77534'
 'GL67540' 'SV50502' 'UK59698' 'OA57352' 'ZF84449' 'AX86150' 'HG39060'
 'EM29359' 'SF57173' 'OT47603' 'SW31412' 'JS36322' 'RE81445' 'RM24280'
 'LC25393' 'UX38930' 'HD95496' 'RX24650' 'DW19309' 'MT41386' 'WZ40465'
 'DB42794' 'JB50798' 'IP69763' 'TE35785' 'HX74855' 'QN65180' 'GE47180'
 'VQ38776' 'BH86846' 'IN17648' 'DF95759' 'QG45324' 'MN61620' 'YH86390'
 'FY13480' 'YH61661' 'NL93182' 'WE68644' 'EZ30498' 'QY74517' 'NM88660'
 'MZ82036' 'ID20929' 'EY50028' 'TT82373' 'OH64088' 'SK97780' 'IO33050'
 'XA55917' 'JK32620' 'RQ19236' 'QC47433' 'RA93608' 'XH97711' 'AU96286'
 'KC17170' 'ZN47335' 'EI46264' 'EK87864' 'GV45403' 'QK31192' 'LU89008'
 'NS10490' 'KL98495' 'IU96845' 'QL93655' 'PF40592' 'LZ34046' 'JC80093'
 'YE88490' 'YC80498' 'AI85843' 'XD66024' 'FY51713' 'PH26378' 'WQ18638'
 'KY14688' 'TC97762' 'QC87108' 'CX12134' 'SM73248' 'CK19789' 'UV12583'
 'JC11405' 'KA89683' 'BG85305' 'UQ87917' 'XN11823' 'OS46571' 'PX17116'
 'RP19541' 'ZR25747' 'NQ86532' 'JY27336' 'PB54378' 'SV38190' 'CV24005'
 'EX28656' 'CF57022' 'GM16780' 'BX94438' 'RM41745' 'XR70252' 'YH92099'
 'SG81493' 'ZX23819' 'FJ54907' 'CU26127' 'YH60476' 'ZZ97035' 'GE82737'
 'KY21873' 'UA51318' 'BV55014' 'HX21307' 'LQ68252' 'CR92802' 'SL35268'
 'RD62882' 'JS42382' 'BT30554' 'VP57424' 'VU19243' 'TA82973' 'GK71720'
 'OQ61223' 'LL62746' 'JQ56711' 'AW77988' 'QP84605' 'MY97912' 'IB87349'
 'AW73065' 'BW80872' 'PX70175' 'KF75098' 'IS50283' 'MY64920' 'KN34250'
 'GN46207' 'KL57176' 'MN94234' 'JY90595' 'HK26543' 'PN86062' 'VW27730'
 'SH55671' 'MO56878' 'VO38365' 'SV35618' 'RX12347' 'FR55658' 'XS12556'
 'ZU73588' 'WT43034' 'VM13430' 'TC78849' 'VC34764' 'WO90953' 'IU47468'
 'KO46064' 'RB34917' 'BI38192' 'PU18983' 'SW79912' 'ES39217' 'KP72427'
 'UA19178' 'PR53785' 'XF57481' 'CN90378' 'KI56154' 'UI55951' 'FF28650'
 'FS55302' 'TN79487' 'HG32616' 'UK41984' 'LZ52266' 'PM27367' 'ZK21724'
 'BH35482' 'QE22757' 'ON77649' 'RN82884' 'CQ75652' 'FF58467' 'BS83666'
 'WO29605' 'TL77607' 'EZ50606' 'OS39723' 'FN69743' 'XW96958' 'TU92578'
 'TL43709' 'YE68736' 'OB96537' 'EU68825' 'CC31456' 'DJ77787' 'LN26837'
 'YI92916' 'NW54906' 'ME77513' 'UK76891' 'SI26888' 'YD74948' 'HB64268'
 'BW52697' 'NL41409' 'OD69005' 'ZZ91716' 'UK70255' 'QT25383' 'AW18068'
 'NS45347' 'FV19421' 'XW89091' 'YC11951' 'UY18770' 'RA49085' 'BG84194'
 'PT64580' 'MR67738' 'DM95829' 'DB75522' 'LM34525' 'WW30771' 'QP65569'
 'TN50051' 'UO86707' 'JA41698' 'NX18774' 'DA69469' 'CN23147' 'RA68844'
 'GH42026' 'BD16530' 'JH91579' 'WK23685' 'GR62267' 'PI78084' 'GF97874'
 'ZH19885' 'UK25655' 'QR45101' 'EL93539' 'EE99484' 'DP46882' 'WP41146'
 'TK60799' 'DN29808' 'SS59521' 'NG66579' 'TC14209' 'ED50963' 'GP40701'
 'CP98451' 'NX52648' 'ZC32510' 'NG27780' 'HN95240' 'EB59129' 'RA70851'
 'PM19162' 'MS59005' 'SU71163' 'BD35676' 'NI44621' 'EW33419' 'HX44948'
 'DL36983' 'XR87264' 'NN99001' 'XV95530' 'OL97871' 'HQ23708' 'WR63188'
 'NG82219' 'KU29408' 'RE46783' 'RU94434' 'GI82355' 'VO26340' 'NV61299'
 'DX31066' 'CY50337' 'TJ20375' 'EP72155' 'JJ76159' 'BG15419' 'AO74776'
 'HQ82233' 'OL72737' 'ZQ59828' 'NZ15548' 'XK61304' 'EJ44139' 'CM94425'
 'OV54878' 'JF57282' 'MY37953' 'XP64922' 'WL65572' 'LN50325' 'HJ15383'
 'KH59823' 'YM79169' 'DR38127' 'PU42145' 'KM33477' 'RI53167' 'OF77789'
 'YB33445' 'BA17836' 'JS43228' 'BB11622' 'HQ70429' 'WK88044' 'LA80525'
 'EH16250' 'PU41872' 'HB85743' 'MM71959' 'MB83663' 'KR43119' 'KH24214'
 'AC40767' 'HP55391' 'EG62398' 'VS19949' 'AM92343' 'GI68556' 'JT11876'
 'XR64251' 'MK34957' 'GP18756' 'AP23850' 'KQ65521' 'EJ19449' 'QB70027'
 'QW47320' 'KH64733' 'ON59472' 'HP94242' 'RV15398' 'EA25683' 'PW73754'
 'MC71942' 'OX72195' 'YQ99152' 'KI19439' 'PM76175' 'US45383' 'GT38956'
 'SN41301' 'BE62503' 'PA16884' 'NC58480' 'NS39326' 'PN18507' 'EK91340'
 'JY16280' 'ZW71731' 'ZC24631' 'YR34689' 'RT65829' 'BZ12077' 'WM65373'
 'NH35059' 'QD38160' 'BM15160' 'VY79030' 'EV19512' 'TE13577' 'WY97929'
 'YG20683' 'FK75497' 'NE60110' 'TN36521' 'HG33568' 'TW17878' 'ZO83562'
 'CH97539' 'CV29889' 'MO33320' 'QZ81258' 'NY56352' 'EA27048' 'UT38865'
 'QC89139' 'LA14484' 'HN57556' 'CV31235' 'WR45726' 'LB25094' 'KW56110'
 'XO36233' 'ZX86243' 'DW29763' 'CT83377' 'OQ90898' 'GO77248' 'QW33258'
 'OU79745' 'VZ79886' 'FI92440' 'YG85980' 'QM74621' 'EI71732' 'VN79010'
 'FI61723' 'OH55411' 'TF10720' 'NW30838' 'CB58476' 'WI69346' 'FS76657'
 'YX89016' 'PK28821' 'MB51200' 'XG44587' 'FG91922' 'OM99303' 'RV67546'
 'UJ79253' 'PN98247' 'IB67546' 'OE19087' 'CM95716' 'MW62634' 'QW67581'
 'SN16059' 'OE51254' 'RM42344' 'GB35238' 'ML82674' 'EI85244' 'DE28132'
 'TV25678' 'TY26512' 'OB69153' 'QZ77637' 'XN41715' 'QR15857' 'FL69363'
 'IS30295' 'WA25797' 'NL59519' 'ZU93025' 'DK94262' 'UQ30615' 'OR40060'
 'DK32872' 'FA46418' 'ER19995' 'KI75855' 'ND41876' 'PN21042' 'GJ43254'
 'AL46984' 'JP58047' 'ZE85014' 'KU88219' 'UU98729' 'WS82822' 'YB49933'
 'XC16387' 'XJ96748' 'TM98684' 'AY18433' 'DM74502' 'FT56968' 'OX36896'
 'BZ65376' 'LN34660' 'JC29295' 'KJ87930' 'XT36360' 'IX35050' 'UN97379'
 'MR57294' 'UG79499' 'UA50747' 'GL20444' 'SP58110' 'XM91635' 'TV82603'
 'BB82067' 'JP94676' 'VU53417' 'IW54795' 'RN78170' 'IX55883' 'XM72420'
 'GC15104' 'RX13282' 'QA85890' 'IR62668' 'AL96740' 'SS48498' 'PE39479'
 'JH62891' 'FI20423' 'PM13394' 'YV67971' 'QD31377' 'YG10247' 'FE73696'
 'SW19699' 'QJ40732' 'HM76207' 'NT59303' 'PU41393' 'QO86948' 'QN10888'
 'VY19543' 'XC15133' 'ST43550' 'FX36546' 'JX68983' 'HX78576' 'ZQ11381'
 'ON39271' 'SB18278' 'ZT30559' 'XI41106' 'ZS88847' 'RU49126' 'KR62797'
 'ZJ73220' 'FY62633' 'CU36986' 'WZ53904' 'AA71604' 'TD10493' 'LY97989'
 'VX39856' 'TP51897' 'QQ89253' 'EI91403' 'QG15435' 'FZ55002' 'HX77930'
 'UN37063' 'VB87946' 'AB60627' 'TA34903' 'AQ51368' 'NZ26102' 'GB45753'
 'BV79904' 'OB49075' 'DS97676' 'JO63462' 'NJ10602' 'RS24501' 'VT78274'
 'SU56153' 'MN20737' 'KL43114' 'YQ15567' 'TR88637' 'TC88986' 'XX88577'
 'NE49052' 'KX17826' 'CC91503' 'WH32183' 'ES90681' 'DW96592' 'MT23134'
 'BM69081' 'MB90871' 'QL77686' 'ON77827' 'KP18988' 'TI92884' 'JH73503'
 'YE97964' 'VA30351' 'PV55726' 'UC88305' 'TS53809' 'ZV32120' 'FB80807'
 'AS55677' 'WA15684' 'SA50567' 'KJ31611' 'VL37375' 'KN21017' 'PX44289'
 'AM97901' 'RE42925' 'TR81766' 'CH85057' 'UP71482' 'EG40670' 'HV83672'
 'MG10140' 'TC44716' 'QO65264' 'EB66698' 'OT52034' 'CH85444' 'PU85769'
 'UI73201' 'SL50592' 'XP11075' 'SI31236' 'JN26745' 'VK48036' 'JX76668'
 'DS45802' 'OA96690' 'EM27919' 'QO41043' 'OV50124' 'PR31642' 'BU41599'
 'TK30357' 'NF31087' 'NH16984' 'OS75493' 'VT63298' 'QS75550' 'SZ16483'
 'VM92311' 'NJ46849' 'WZ31900' 'RG30482' 'ZM86949' 'QQ39596' 'FH51383'
 'BJ53923' 'CZ96653' 'FB23788' 'NT43594' 'RJ85627' 'KJ86296' 'PI47776'
 'MD73554' 'UX92071' 'YG44474' 'UH45301' 'RY92647' 'IK12620' 'GQ66762'
 'YT69858' 'XD85577' 'TM65736' 'VJ51327' 'GS98873' 'CW49887' 'MY31220']
Unique values in 'ST': ['AZ' 'NV' 'CA' 'WA' 'OR']
Unique values in 'GENDER': ['F' 'M']
Unique values in 'Education': ['Bachelors' 'High School' 'College' 'Masters' 'Doctor']
Unique values in 'Policy Type': ['Personal Auto' 'Corporate Auto' 'Special Auto']
Unique values in 'Vehicle Class': ['Four-Door Car' 'Two-Door Car' 'SUV' 'Sports Car' 'Luxury Car'
 'Luxury SUV']

In [80]:
summary_statistics = df[numerical_columns].describe()
print("Summary Statistics for Numerical Columns:")
print(summary_statistics)

Summary Statistics for Numerical Columns:
       Customer Lifetime Value        Income  Monthly Premium Auto  \
count               952.000000    952.000000            952.000000
mean                794.201187  39557.350840            205.231092
std                 625.879148  30744.561851           1697.752504
min                 200.440000      0.000000             61.000000
25%                 411.785000  13087.750000             68.000000
50%                 588.575000  36632.000000             83.000000
75%                 903.750000  65085.500000            110.000000
max                4479.550000  99960.000000          35354.000000

       Number of Open Complaints  Total Claim Amount
count                 952.000000          952.000000
mean                    0.378151          404.999156
std                     0.872446          299.238726
min                     0.000000            0.382107
25%                     0.000000          196.724587
50%                     0.000000          350.400000
75%                     0.000000          534.000000
max                     5.000000         2893.239678

In [29]:
#Conclusion:
#Numerical Columns and Unique Values: 
#the range of Income, 99960.000000 is high 

#Categorical Columns and Unique Values: 
#Policy Type: Categorical values are Auto, Home, and Life.
# 6 different Vehicle Classes

- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.

In [30]:
df.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount
count,952.000000,952.000000,952.000000,952.000000,952.000000
mean,794.201187,39557.350840,205.231092,0.378151,404.999156
std,625.879148,30744.561851,1697.752504,0.872446,299.238726
min,200.440000,0.000000,61.000000,0.000000,0.382107
25%,411.785000,13087.750000,68.000000,0.000000,196.724587
50%,588.575000,36632.000000,83.000000,0.000000,350.400000
75%,903.750000,65085.500000,110.000000,0.000000,534.000000
max,4479.550000,99960.000000,35354.000000,5.000000,2893.239678

In [31]:

for i in df.select_dtypes(include=['object']).columns:
    print(f"{i}:\n{df[i].describe()}\n")

#there is a lot of nan values

Customer:
count         952
unique        952
top       QZ44356
freq            1
Name: Customer, dtype: object

ST:
count     952
unique      5
top        CA
freq      293
Name: ST, dtype: object

GENDER:
count     952
unique      2
top         F
freq      501
Name: GENDER, dtype: object

Education:
count           952
unique            5
top       Bachelors
freq            291
Name: Education, dtype: object

Policy Type:
count               952
unique                3
top       Personal Auto
freq                689
Name: Policy Type, dtype: object

Vehicle Class:
count               952
unique                6
top       Four-Door Car
freq                506
Name: Vehicle Class, dtype: object

In [32]:

for i in df.select_dtypes(include=['object']).columns:
    print(f"{i}:\n{df[i].describe()}\n")

#there is a lot of nan values

Customer:
count         952
unique        952
top       QZ44356
freq            1
Name: Customer, dtype: object

ST:
count     952
unique      5
top        CA
freq      293
Name: ST, dtype: object

GENDER:
count     952
unique      2
top         F
freq      501
Name: GENDER, dtype: object

Education:
count           952
unique            5
top       Bachelors
freq            291
Name: Education, dtype: object

Policy Type:
count               952
unique                3
top       Personal Auto
freq                689
Name: Policy Type, dtype: object

Vehicle Class:
count               952
unique                6
top       Four-Door Car
freq                506
Name: Vehicle Class, dtype: object

In [33]:
df_cleaned = df.dropna()
df_cleaned

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,AZ,F,Bachelors,697.95,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,NV,F,Bachelors,1288.74,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,CA,M,Bachelors,764.59,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,WA,M,High School,536.31,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
5,OC83172,OR,F,Bachelors,825.63,62902.0,69.0,0,Personal Auto,Two-Door Car,159.383042
...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,OR,M,Masters,305.96,38644.0,78.0,1,Personal Auto,Four-Door Car,361.455219
1067,VJ51327,CA,F,High School,2031.50,63209.0,102.0,2,Personal Auto,SUV,207.320041
1068,GS98873,AZ,F,Bachelors,323.91,16061.0,88.0,0,Personal Auto,Four-Door Car,633.600000
1069,CW49887,CA,F,Masters,462.68,79487.0,114.0,0,Special Auto,SUV,547.200000
1070,MY31220,CA,F,College,899.70,54230.0,112.0,0,Personal Auto,Two-Door Car,537.600000

In [34]:
df.isnull().sum()

Customer                     0
ST                           0
GENDER                       0
Education                    0
Customer Lifetime Value      0
Income                       0
Monthly Premium Auto         0
Number of Open Complaints    0
Policy Type                  0
Vehicle Class                0
Total Claim Amount           0
dtype: int64

- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [35]:
categorical_summary = df.describe(include=['object'])
print(categorical_summary)

       Customer   ST GENDER  Education    Policy Type  Vehicle Class
count       952  952    952        952            952            952
unique      952    5      2          5              3              6
top     QZ44356   CA      F  Bachelors  Personal Auto  Four-Door Car
freq          1  293    501        291            689            506

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [36]:
df['ST'] = df['ST'].replace({
    'Washington': 'WA',  # Replace full name with abbreviation
    'Cali': 'CA', 
    'California':'CA', 
    'Arizona':'AZ',
    'Oregon':'OR',
    'Nevada':'NV'
    
})

In [37]:
df['ST'].unique()

array(['AZ', 'NV', 'CA', 'WA', 'OR'], dtype=object)

In [38]:
df.groupby('ST').count()

,Customer,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
ST,,,,,,,,,,
AZ,188,188,188,188,188,188,188,188,188,188
CA,293,293,293,293,293,293,293,293,293,293
NV,89,89,89,89,89,89,89,89,89,89
OR,276,276,276,276,276,276,276,276,276,276
WA,106,106,106,106,106,106,106,106,106,106

In [39]:
location_counts = df.groupby('ST').size()
location_counts

ST
AZ    188
CA    293
NV     89
OR    276
WA    106
dtype: int64

In [40]:
sorted_locations = location_counts.sort_values(ascending=True)
sorted_locations

ST
NV     89
WA    106
AZ    188
OR    276
CA    293
dtype: int64

In [41]:

top_5_less_common_locations = sorted_locations.head(5)

In [42]:
print(top_5_less_common_locations)

ST
NV     89
WA    106
AZ    188
OR    276
CA    293
dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [43]:
df.columns = df.columns.str.strip()  # This will remove any leading or trailing spaces
df.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [44]:

policy_counts = df['Policy Type'].value_counts()

# Step 2: Create a Series object from the counts (already a Series from value_counts)
# (This step is just illustrative as policy_counts is already a Series)

# Step 3: Retrieve the policy type with the highest number of policies sold
highest_policy_type = policy_counts.idxmax()  # Get the policy type name with max policies
highest_count = policy_counts.max()            # Get the count of that policy type

# Print the results
print("Total number of policies sold for each type of policy:")
print(policy_counts)
print(f"\nThe policy type with the highest number of policies sold is '{highest_policy_type}' with {highest_count} policies sold.")

Total number of policies sold for each type of policy:
Policy Type
Personal Auto     689
Corporate Auto    211
Special Auto       52
Name: count, dtype: int64

The policy type with the highest number of policies sold is 'Personal Auto' with 689 policies sold.

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [45]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

personal_auto_df = df.loc[df['Policy Type'] == 'Personal Auto']
corporate_auto_df = df.loc[df['Policy Type'] == 'Corporate Auto']

average_income_personal = personal_auto_df['Income'].mean()
average_income_corporate = corporate_auto_df['Income'].mean()

print(f"Average income for Personal Auto policies: {average_income_personal}")
print(f"Average income for Corporate Auto policies: {average_income_corporate}")

Average income for Personal Auto policies: 38180.69871794872
Average income for Corporate Auto policies: 41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [46]:
percentile_75 = df['Total Claim Amount'].quantile(0.75)
percentile_75

532.8

In [47]:
high_claim_customers = df[df['Total Claim Amount'] > percentile_75]
high_claim_customers

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763
26,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000
...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945
1061,RY92647,Cali,F,Bachelor,1050677.17%,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000

In [48]:
high_claim_summary = high_claim_customers.describe()
high_claim_summary

             Income  Monthly Premium Auto  Total Claim Amount
count    264.000000            264.000000          264.000000
mean   23677.344697            165.193182          782.228263
std    27013.483721            623.930992          292.751640
min        0.000000             63.000000          537.600000
25%        0.000000             99.000000          606.521741
50%    18807.000000            114.000000          679.597985
75%    42423.750000            133.250000          851.400000
max    99316.000000          10202.000000         2893.239678